.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.column-direction {
  flex-direction: column;
}


.container {
  max-width: 104rem;
  padding-inline: 16.4rem;
  margin-inline: auto;
}


.grid {
  display: grid;
}

.gap-24 {
  gap: 2.4rem;
}